footer {
    text-align: center;
    margin-top: 60px;
    width: 100%;
    height: 25px;
    background-color: #37005e;
    border: solid 1px #483d8b;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    font-family: "Open Sans Condensed", sans-serif;
    color: white;
  }