@media only screen and (max-width: 800px) {
    
    .logo {
      width: 50px;
    }
  
    h1 {
      font-size: 25px;
    }
  
    .parrafo {
      font-size: 12px;
    }
  
    
    #imgContacto {
      width: 90%;
    }
  
    #testImg1 {
      width: 145px;
    }
  
    #testImg2 {
      width: 150px;
    }
}